{% block main %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.button-delete').die().live('click',function(){
            if (!confirm('{{ 'ali.common.confirm_delete'|trans()  }}')) {
                return false;
            }
        });
        $options = {{ js | raw }}
        $defaults = {
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aLengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "All"]],
            "iDisplayLength": 10,
            "bServerSide": true,
            "bProcessing": true,
            "sAjaxSource": null,
            "bPaginate": true,
            "bLengthChange": true,
            "bSort": true,
            "bFilter": false,
            "oLanguage": {
                "sProcessing":     '{{ 'ali.common.sProcessing' | trans() }}',
                "sLengthMenu":     '{{ 'ali.common.sLengthMenu' | trans() }}',
                "sZeroRecords":    '{{ 'ali.common.sZeroRecords' | trans() }}',
                "sInfo":           '{{ 'ali.common.sInfo' | trans() }}',
                "sInfoEmpty":      '{{ 'ali.common.sInfoEmpty' | trans() }}',
                "sInfoFiltered":   '{{ 'ali.common.sInfoFiltered' | trans() }}',
                "sInfoPostFix":    '{{ 'ali.common.sInfoPostFix' | trans() }}',
                "sSearch":         '{{ 'ali.common.sSearch' | trans() }}',
                "sLoadingRecords": '{{ 'ali.common.sLoadingRecords' | trans() }}',
                "sUrl":            "",
                "oPaginate": {
                    "sFirst":    '{{ 'ali.common.sFirst' | trans() }}',
                    "sPrevious": '{{ 'ali.common.sPrevious' | trans() }}',
                    "sNext":     '{{ 'ali.common.sNext' | trans() }}',
                    "sLast":     '{{ 'ali.common.sLast' | trans() }}'
                }
            }
        };
        $.extend($defaults,$options);
        {% if action %} 
        $.extend($defaults,{
            "aoColumnDefs": [ 
                {
                    "fnRender": function ( oObj ) {
                        var $edit_url = strtr(
                            "{{ path(edit_route , { 'id': "xx" }) }}",
                            { "xx": oObj.aData[{{fields|length}}-1] }
                        );
                        var $link_edit = "<a  style='float:right; margin-right:10px' class='dialog' title='edit'";
                        $link_edit += "href='"+$edit_url+"'>";
                        $link_edit += "{{ 'ali.common.edit'|trans()}}</a>";
                        var $delete_url = strtr(
                            "{{ path(delete_route, { 'id': "xx" }) }}",
                            { "xx": oObj.aData[{{fields|length}}-1] }
                        );
                        var $link_delete = "<form style='float:right' class='form' action='"+$delete_url+"' method='post'>";
                        $link_delete += strtr(
                                            '{{ form_widget(delete_form) }}',
                                            { "_id_": oObj.aData[{{fields|length}}-1] }
                                        );
                        $link_delete += "<button class='button-delete' type='submit'>{{ 'ali.common.delete'|trans() }}</button>";
                        $link_delete += " </form>";
                        var $out = $link_delete+ " " + $link_edit ;
                        if (oObj.aData[{{fields|length}}-1] == null )
                        {
                            $out = "<div style='float:right'>{{ 'ali.common.no_action'|trans() }}</div>";
                        }
                        return $out
                    },
                    "aTargets": [ {{fields|length}}-1  ]
                }
            ]
        });
        {% endif %}
        
        oTable = $('#{{id}}').dataTable($defaults);
    });
</script>    
<table class="display" id="{{id}}"> 
    <thead> 
        <tr> 
            {% for label,key in fields %}
                {% if label != '_identifier_' %}
                <th>{{ label }}</th>
                {% endif %}
            {% endfor %}
            {% if action %}
                <th>{{ 'ali.common.action'|trans()  }}</th>
            {% endif %}
        </tr> 
    </thead> 
</table>
{% endblock  %}